<div class="flex gap-2" style="overflow-x: scroll;">
    <div class="bg-white dark:bg-primaryDark rounded-md p-4 shadow-sm hover:shadow-md duration-200">
        <h2 class="text-center text-xl">
            <a href="">
                Projeto foda <i class="fa-solid fa-up-right-from-square"></i>
            </a>
        </h2>
        
        <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, facere! Provident adipisci veniam consectetur natus veritatis. Deserunt, repellendus fugiat placeat libero et saepe excepturi minima eum, odio quaerat error ab!</p>


        <div class="flex gap-2 text-[.6rem] justify-center my-4">
            <span class="inline-block align-middle border border-red-700 rounded-full px-2 py-1">Angular</span>
            <span class="inline-block align-middle border  border-green-700 rounded-full px-2 py-1">Spring boot</span>
            <span class="inline-block align-middle border border-blue-800 rounded-full px-2 py-1">Java</span>
        </div>

    </div>
    <div class="bg-white dark:bg-primaryDark rounded-md p-4 shadow-sm hover:shadow-md duration-200">
        <h2 class="text-center text-xl">
            <a href="">
                Projeto foda <i class="fa-solid fa-up-right-from-square"></i>
            </a>
        </h2>
        
        <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, facere! Provident adipisci veniam consectetur natus veritatis. Deserunt, repellendus fugiat placeat libero et saepe excepturi minima eum, odio quaerat error ab!</p>


        <div class="flex gap-2 text-[.6rem] justify-center my-4">
            <span class="inline-block align-middle border border-red-700 rounded-full px-2 py-1">Angular</span>
            <span class="inline-block align-middle border  border-green-700 rounded-full px-2 py-1">Spring boot</span>
            <span class="inline-block align-middle border border-blue-800 rounded-full px-2 py-1">Java</span>
        </div>

    </div>
    <div class="bg-white dark:bg-primaryDark rounded-md p-4 shadow-sm hover:shadow-md duration-200">
        <h2 class="text-center text-xl">
            <a href="">
                Projeto foda <i class="fa-solid fa-up-right-from-square"></i>
            </a>
        </h2>
        
        <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, facere! Provident adipisci veniam consectetur natus veritatis. Deserunt, repellendus fugiat placeat libero et saepe excepturi minima eum, odio quaerat error ab!</p>


        <div class="flex gap-2 text-[.6rem] justify-center my-4">
            <span class="inline-block align-middle border border-red-700 rounded-full px-2 py-1">Angular</span>
            <span class="inline-block align-middle border  border-green-700 rounded-full px-2 py-1">Spring boot</span>
            <span class="inline-block align-middle border border-blue-800 rounded-full px-2 py-1">Java</span>
        </div>

    </div>
    <div class="bg-white dark:bg-primaryDark rounded-md p-4 shadow-sm hover:shadow-md duration-200">
        <h2 class="text-center text-xl">
            <a href="">
                Projeto foda <i class="fa-solid fa-up-right-from-square"></i>
            </a>
        </h2>
        
        <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, facere! Provident adipisci veniam consectetur natus veritatis. Deserunt, repellendus fugiat placeat libero et saepe excepturi minima eum, odio quaerat error ab!</p>


        <div class="flex gap-2 text-[.6rem] justify-center my-4">
            <span class="inline-block align-middle border border-red-700 rounded-full px-2 py-1">Angular</span>
            <span class="inline-block align-middle border  border-green-700 rounded-full px-2 py-1">Spring boot</span>
            <span class="inline-block align-middle border border-blue-800 rounded-full px-2 py-1">Java</span>
        </div>

    </div>
    <div class="bg-white dark:bg-primaryDark rounded-md p-4 shadow-sm hover:shadow-md duration-200">
        <h2 class="text-center text-xl">
            <a href="">
                Projeto foda <i class="fa-solid fa-up-right-from-square"></i>
            </a>
        </h2>
        
        <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, facere! Provident adipisci veniam consectetur natus veritatis. Deserunt, repellendus fugiat placeat libero et saepe excepturi minima eum, odio quaerat error ab!</p>


        <div class="flex gap-2 text-[.6rem] justify-center my-4">
            <span class="inline-block align-middle border border-red-700 rounded-full px-2 py-1">Angular</span>
            <span class="inline-block align-middle border  border-green-700 rounded-full px-2 py-1">Spring boot</span>
            <span class="inline-block align-middle border border-blue-800 rounded-full px-2 py-1">Java</span>
        </div>

    </div>
    <div class="bg-white dark:bg-primaryDark rounded-md p-4 shadow-sm hover:shadow-md duration-200">
        <h2 class="text-center text-xl">
            <a href="">
                Projeto foda <i class="fa-solid fa-up-right-from-square"></i>
            </a>
        </h2>
        
        <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, facere! Provident adipisci veniam consectetur natus veritatis. Deserunt, repellendus fugiat placeat libero et saepe excepturi minima eum, odio quaerat error ab!</p>


        <div class="flex gap-2 text-[.6rem] justify-center my-4">
            <span class="inline-block align-middle border border-red-700 rounded-full px-2 py-1">Angular</span>
            <span class="inline-block align-middle border  border-green-700 rounded-full px-2 py-1">Spring boot</span>
            <span class="inline-block align-middle border border-blue-800 rounded-full px-2 py-1">Java</span>
        </div>

    </div>
</div>